.App {
  text-align: center;
}

.navBar {
  list-style: none;
  display: flex;
  justify-content: flex-end;
  border-bottom: 1px solid black;
  height: 33px;
}

.navBar li a {
  text-decoration: none;
  color: black;
  padding: 20px;
  font-weight: 700;
}

.navBar li a.active {
  background: black;
  color: white;
  padding: 12px;
}